<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>后台管理系统</title>
<link href="${libUrl}/layui/css/layui.css" rel="stylesheet">
<link href="${libUrl}/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="${cssUrl}/app.css" rel="stylesheet">

<script src="${libUrl}/layui/layui.js" type="text/javascript"></script>
<script src="${libUrl}/jquery/3.2.1/jquery.js" type="text/javascript"></script>
<script src="${libUrl}/rabbit/rabbit.ajax.js" type="text/javascript"></script>
<script src="${libUrl}/handlebars.js/4.0.10/handlebars.js" type="text/javascript"></script>
<script src="${libUrl}/rabbit/rabbit.tmpl.js" type="text/javascript"></script>
<script src="${libUrl}/rabbit/rabbit.common.js" type="text/javascript"></script>
<script src="${libUrl}/rabbit/rabbit.layMsg.js" type="text/javascript"></script>

<script type="text/javascript">
    var webUrl = '${webUrl}', libUrl = '${libUrl}', jsUrl = '${jsUrl}', cssUrl = '${cssUrl}', imgUrl = '${imgUrl}';
</script>