<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>后台管理系统</title>
<link href="../../static/lib/layui/css/layui.css" rel="stylesheet">
<link href="../../static/lib/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="../../static/css/app.css" rel="stylesheet">

<script src="../../static/lib/layui/layui.js"></script>
<script src="../../static/lib/jquery/3.2.1/jquery.js"></script>
<script src="../../static/lib/rabbit/rabbit.ajax.js"></script>
<script src="../../static/lib/rabbit/rabbit.common.js"></script>
<script src="../../static/lib/rabbit/rabbit.layMsg.js"></script>

<script type="text/javascript">
    var webUrl = '${webUrl}', libUrl = '${libUrl}', jsUrl = '${jsUrl}', cssUrl = '${cssUrl}', imgUrl = '${imgUrl}';
</script>