<!DOCTYPE html>
<html>
<head>
    <#include '../common/meta.html'/>
    <#include '../include/handlebars.html'/>
    <script src="${jsUrl}/main/main.js"></script>
</head>
<body class="layui-layout-body">

    <blockquote class="layui-elem-quote news_search">
        后台管理系统开发进程
    </blockquote>

    <div class="sysm-body">
        <ul class="layui-timeline">

            <div id="codeLogList">
            <script id="codeLogListTmpl" type="text/x-handlebars-template">
                {{#each datas}}
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">{{date}}</h3>
                        {{{content}}}
                    </div>
                </li>
                {{/each}}
            </script>
            </div>

        </ul>
    </div>
</body>
</html>